<%= form_with(model: menu) do |form| %>
  <% if menu.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
        <% menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="menu[name]" id="menu_name" value="<%=menu.name%>">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" name="menu[price]" id="menu_price" value="<%=menu.price%>">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" name="menu[description]" id="menu_description" rows="3"><%=menu.description%></textarea>
  </div>
  <div class="form-group" style="margin: 10px 0">
    <label for="category">Category</label>
    <%= select(:menu, :category_id, Category.all.collect { |c| [ c.name, c.id ] }, { include_blank: "Select Category" }) %>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Submit</button>
<% end %>
