<table class=table>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    <% Menu.all.each do |menu| %>
      <div id="<%= dom_id menu %>">
        <tr>
          <td><%= menu.name %></td>
          <td><%= menu.price %></td>
          <td><%= menu.category.name %></td>
        </tr>
      </div>
    <% end %>
  </tbody>
</table>

<%= form_with(model: order_detail) do |form| %>
  <% if order_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order_detail.errors.count, "error") %> prohibited this order_detail from being saved:</h2>

      <ul>
        <% order_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>

  <% end %>
  <div class="form-group">
    <label for="order_detail">Item :</label>
    <%=select(:order_detail, :menu_id,  Menu.all.collect { |c| [ c.name, c.id] }) %>
  </div>
  <div class="form-group">
    <%= form.label :quantity, style: "display: block; margin-top: 16px;" %>
    <%= form.number_field :quantity, min: 1, style: "margin-bottom: 16px;" %>
  </div>

  <div>
    <button type="submit" class="btn btn-primary mb-2">Add to cart</button>
  </div>
<% end %>
