<p style="color: green"><%= notice %></p>

<h2>Your cart</h2>

<h4>Order ID: <%= session[:current_order] %></h2>

<div id="order_details">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Sum Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%=order_detail.menu.name %></td>
          <td><%=order_detail.quantity %></td>
          <td><%=order_detail.sum_price %></td>
          <td><%= link_to "Show", order_detail, class: "btn btn-success"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Add Item", new_order_detail_path, class: "btn btn-primary"%>

<a href="orders/<%= session[:current_order]%>" class="btn btn-secondary">Back to your orders</a>

