<p style="color: green"><%= notice %></p>

<h1>Your cart</h1>

<h2>Order ID: <%= session[:current_order] %></h2>

<div id="order_details">
  <% @order_details.each do |order_detail| %>
    <%= render order_detail %>
    <p>
      <%= link_to "Show item detail", order_detail %>
    </p>
  <% end %>
</div>

<p><%= link_to "Add Item", new_order_detail_path %></p>

<p><%= link_to "Back", :back %></p>

