<p style="color: green"><%= notice %></p>

<h2>Your cart</h2>

<h4>Order ID: <%= session[:current_order] %></h2>

<div id="order_details">
  <table>
    <tr>
      <th style="padding: 4px 12px;">Name</th>
      <th style="padding: 4px 12px;">Quantity</th>
      <th style="padding: 4px 12px;">Sum Price</th>
      <th></th>
    </tr>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td style="padding: 4px 12px;"><%=order_detail.menu.name %></td>
        <td style="padding: 4px 12px;"><%=order_detail.quantity %></td>
        <td style="padding: 4px 12px;"><%=order_detail.sum_price %></td>
        <td><%= link_to "Show order details", order_detail %></td>
      </tr>
    <% end %>
  </table>
</div>

<p><%= link_to "Add Item", new_order_detail_path %></p>

<a href="orders/<%= session[:current_order]%>">Back to your orders</a>

