<p style="color: green"><%= notice %></p>

<%= render @order_detail %>

<div>
  <p><%= link_to "Edit this item", edit_order_detail_path(@order_detail) %></p> 
  <p><%= link_to "Back to your cart", order_details_path %></p> 
  <p><%= button_to "Delete item", @order_detail, method: :delete %></p>
</div>
