<p style="color: green"><%= notice %></p>

<%= render @order_detail %>

<div>
  <%= link_to "Edit this item", edit_order_detail_path(@order_detail) %> |
  <%= link_to "Back to your cart", order_details_path %>

  <%= button_to "Delete item", @order_detail, method: :delete %>
</div>
