<p style="color: green"><%= notice %></p>

<div class="form-group">
  <label for="customer_email">Email</label>
  <input disabled type="text" id="customer_email" name="customer_email" value="<%=@customer.email%>">
</div>

<div style="margin: 10px 0">
  <%= link_to "Edit", edit_customer_path(@customer), class:"btn btn-primary"%> |
  <%= link_to "Back to customers", customers_path, class:"btn btn-secondary"%>
</div>

<%= button_to "Delete", @customer, method: :delete, class: "btn btn-outline-danger"%>
