<p style="color: green"><%= notice %></p>

<%= render @order %>

<div id="order_details">
  <% @order_details.each do |order_detail| %>
    <%= render order_detail %>
  <% end %>
</div>

<div>
  <p><%= link_to "Edit order cart", order_details_url %></p>
  <p><%= link_to "Edit status order", edit_order_path(@order) %></p>
  <p><%= link_to "Back to orders", orders_path %></p>

  <%= button_to "Destroy this order", @order, method: :delete %>
</div>
