<p style="color: green"><%= notice %></p>

<h5>Customer : <%= @order.customer.email%></h5>


<h3>Menu ordered : </h3>
<div id="order_details">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Sum Price</th>
    </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%=order_detail.menu.name %></td>
          <td><%=order_detail.quantity %></td>
          <td><%=order_detail.sum_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div>
  <h3>Invoice</h3>
  <table>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @order.total_price %></td>
      </tr>
    </tbody>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @order.status%></td>
      </tr>
    </tbody>
  </table>
</div>

<div style="margin-top: 20px">
  <a class="btn btn-success" href="/order_details" role="button">Order Cart</a>
  <a class="btn btn-primary" href="<%= @order.id %>/edit" role="button">Status</a>
  <div style="margin-top: 10px">
    <%= button_to "Destroy this order", @order, method: :delete, class: "btn btn-outline-danger" %>
  </div>
</div>
