<p style="color: green"><%= notice %></p>

<div id="categories">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <div>
        <tr>
          <%= render @category %>
          <div>
            <td><%= link_to "Edit", edit_menu_path(@category), class:"btn btn-outline-success" %></td>
            <td><%= button_to "Delete", @category, method: :delete,  class: "btn btn-outline-danger" %></td>
          </div>
        </tr>
      </div>
    </tbody>
  </table>
</div>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>