<!DOCTYPE html>
<html>
  <head>
    <title>Family Catering</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= link_to "Home", '/' %>
    <%= link_to "Customers", customers_path %>
    <%= link_to "Menus", menus_path %>
    <%= link_to "Categories", categories_path %>
    <%= link_to "Orders", orders_path %>
    <%= link_to "Reports", reports_path %>
    <p>Logged in as <strong><%=session[:current_customer]["email"]%></strong></p>
    <%= yield %>
  </body>
</html>
